body {
    padding: 0%;
    margin: 0%;
}
.cal-container{
    margin: 40px 500px 0px 500px;
    border: 1px hidden;
    border-radius: 10px;
    background-color: rgb(110, 7, 7);
}
table{
    margin: 20px 20px 10px 15px;
}

tr td.heading{
   font-size: 25px;
   text-align: center;
   color: white;
   margin: 10px 0;
}
tr td.heading:hover{
   font-style: bold;
   color: blanchedalmond;
  
}

#question #answer{
    box-shadow: 2px 2px 2px white;
    color: tomato;
}
#question{
    width: 300px;
    height: 40px;
    padding: 5px ;
    text-align: right;
    font-size: 30px;
    border: none;
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 2px 2px black;
}
#answer{
    margin: -10px 0 20px 0 ;
    width: 300px;
    height: 40px;
    padding: 5px ;
    text-align: right;
    font-size: 30px;
    border: none;
    border-radius: 0 0 10px 10px ;
    box-shadow: 2px 2px 2px black;
}
.tab{
    margin: 0 0 0 10px;
}
input[type= button] {
    width: 60px;
    height: 60px;
    background-color: white;
    color: tomato;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    margin: 7px;
    font-size: 20px;
}

input.btn:hover {
    box-shadow: 2px 2px 2px white;
    color: rgb(252, 203, 130);
    font-size: 25px;
}